@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,800;1,800&display=swap');

img {
  width: 300px;
  height: auto;
  margin: calc(10%/10);
}

nav {
  margin-left: 10px;
  width: 80%;
  padding: 1.2em 0;
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  text-transform: uppercase;
  border-bottom: 2px solid lightgray;
}
